In [1]:
import sys
print(sys.version)

3.8.5 (default, Sep  4 2020, 02:22:02)
[Clang 10.0.0 ]

In [1]:
li = [1,'a']
sorted(li)

TypeError: '<' not supported between instances of 'str' and 'int'

In [ ]:
myset = {'a',2,3,'a'}

In [ ]:
myset

In [ ]:
x=10
l = []
for i in range(1,x):
    l.append(i%2)
l

In [ ]:
l = 'abc'
print(len(l))
for i in range(0,len(l)):
    print(l)

In [ ]:
b = (1, 2, 3) + (4, 5, 6)
b * 2

In [ ]:
first = [1, 2, 3]
second = [1, 0, 3]
first is second

In [14]:
a = ["foo", 2, 2, "foo"]
b = []
b = a.reverse()
print(b)

None

In [18]:
def itself():
    # YOUR CODE HERE
    return 1

In [17]:
result = itself()

TypeError: 'int' object is not subscriptable

In [51]:
article = """
Columbia to Launch 25 Million Dollar AI-based Climate Modeling Center
---------------------------------------------------------------------
Author: Kim Martineau

Funded by the National Science Foundation, the center will leverage big data and machine learning to improve climate projections.

It should also motivate societies to invest in policies and infrastructure to confront rising seas and warmer temperatures.
"""

article_dict = {}

x = article.splitlines(keepends=True)
        
article_dict["title"]=x[1][0:-1]


if x[3].startswith("Author:"):
    article_dict['author:']=x[3][8:-1]
else:
    article_dict['author:']= None

str1 = ' '
if x[3].startswith("Author:"):
    for i in range(5,len(x)):
        str1 = str1 +x[i]

else:
    for i in range(3,len(x)):
        str1 = str1 +x[i]

article_dict["body"]= str1[:-1]

article_dict

{'title': 'Columbia to Launch 25 Million Dollar AI-based Climate Modeling Center',
 'author:': 'Kim Martineau',
 'body': ' Funded by the National Science Foundation, the center will leverage big data and machine learning to improve climate projections.\n\nIt should also motivate societies to invest in policies and infrastructure to confront rising seas and warmer temperatures.'}

In [52]:
x

['\n',
 'Columbia to Launch 25 Million Dollar AI-based Climate Modeling Center\n',
 '---------------------------------------------------------------------\n',
 'Author: Kim Martineau\n',
 '\n',
 'Funded by the National Science Foundation, the center will leverage big data and machine learning to improve climate projections.\n',
 '\n',
 'It should also motivate societies to invest in policies and infrastructure to confront rising seas and warmer temperatures.\n']

In [1]:
liam={1, 2, 3, 4, 5, 6, 7, 12}
str

'{1, 2, 3, 4, 5, 6, 7, 12}'

In [4]:
liam={1, 7, 8}
sofia={9, 10, 11, 12}
l = {1,2,3,4,5,6,7,8,9,11,12}
l - (liam.union(sofia))

{2, 3, 4, 5, 6}

In [1]:
total_sales = {
    "sneakers": {"NY1": [13, 22, 2, 1, 1, 10, 3], "NY2": [12, 13, 3, 20, 17, 19, 14], "NJ1": [30, 1, 27, 14, 21, 11, 18]},
    "boots": {"NY1": [23, 16, 26, 26, 18, 15, 27], "NY2": [7, 15, 2, 16, 4, 8, 23], "NJ1": [17, 19, 27, 12, 0, 6, 22]},
    "loafers": {"NY1": [2, 24, 9, 13, 3, 13, 15], "NY2": [13, 6, 11, 7, 7, 15, 25], "NJ1": [29, 8, 8, 24, 11, 3, 27]},
    "sandals": {"NY1": [0, 0, 0, 0, 0, 0, 0], "NY2": [0, 0, 0, 0, 0, 0, 0], "NJ1": [0, 0, 0, 30, 22, 100, 99]},
    "socks": {"NY1": [0, 1, 0, 0, 0, 0, 0], "NY2": [1, 1, 0, 0, 0, 0, 0], "NJ1": [30, 20, 1, 11, 3, 2, 5]},
}

In [19]:
print((total_sales

SyntaxError: unexpected EOF while parsing (<ipython-input-19-bc6dda9a1b30>, line 1)

In [15]:
sum_of_ny1 = sum(sum(total_sales['sneakers']['NY1'])+sum(total_sales['boots']['NY1'])
sum_of_ny1

52

In [23]:
keys_list = list(total_sales)

In [24]:
keys_list

['sneakers', 'boots', 'loafers', 'sandals', 'socks']

In [29]:
sum_ny1 = 0
sum_ny2 = 0
sum_nj1 = 0
key_list = list(total_sales)
for i in range(0,len(key_list)):
    sum_ny1 = sum_ny1 + sum(total_sales[key_list[i]]["NY1"])

for i in range(0,len(key_list)):
    sum_ny2 = sum_ny2 + sum(total_sales[key_list[i]]["NY2"])    

for i in range(0,len(key_list)):
    sum_nj1 = sum_nj1 + sum(total_sales[key_list[i]]["NJ1"])

sum_dict = {
    "NY1" : sum_ny1,
    "NY2" : sum_ny2,
    "NJ1" : sum_nj1
}
    
return sum_dict

{'NY1': 283, 'NY2': 259, 'NJ1': 658}

In [30]:
def has_duplicates(numbers):
    # YOUR CODE HERE
    if list(set(numbers)) == numbers:
        return True
    else:
        return False

assert has_duplicates([1, 1, 1])

AssertionError:

In [36]:
def has_duplicates(numbers):
    # YOUR CODE HERE
    if len(list(set(numbers))) != len(numbers):
        return True
    else:
        return False

has_duplicates([2, 4, 6, 2])

True

In [4]:
sum([[1, 2, 3], [4, 5, 6], [7, 8, 9]], start=[])

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [7]:
numbers = ["zero", "one", "two", "three", "four", "five", "six", "seven", "eight", "nine"]
[f"{each} -> {each.upper()}" for each in numbers]

['zero -> ZERO',
 'one -> ONE',
 'two -> TWO',
 'three -> THREE',
 'four -> FOUR',
 'five -> FIVE',
 'six -> SIX',
 'seven -> SEVEN',
 'eight -> EIGHT',
 'nine -> NINE']

In [2]:
enumerate(s1)

NameError: name 's1' is not defined

In [11]:
l1 = ["eat","sleep","repeat"]
s1 = "geek"

print(list(enumerate(s1))[0])

(0, 'g')

In [14]:
numbers = ["zero", "one", "two", "three", "four", "five", "six", "seven", "eight", "nine"]
#print(list(enumerate(numbers)))
[(name, number) for number, name in enumerate(numbers) if number%2 and number<7]

[('one', 1), ('three', 3), ('five', 5)]

In [17]:

names_to_numbers = {k : i for i, k in enumerate(numbers)}

In [19]:
exp_to_numbers

{5: 8, 3: 4, 9: 2, 2: 3, 6: 6, 7: 7, 1: 9}

In [20]:
import math
result = math.sin('not a number')

TypeError: must be real number, not str

In [21]:
import math
try:
    result = math.sin("not a number")
except TypeError as error:  # exceptions are objects
    print("We handled an exception:", str(error))
    result = math.sin(math.pi / 2)
print(result)

We handled an exception: must be real number, not str
1.0

In [33]:
from pathlib import Path
alice = Path("/Users/ockanumuri/Desktop/i.txt") 
alice.read_text()

"Gsfjhglay biwricwehvrciwbfnweilksbhjdfkvhdf\nDsjfhksdlfj\n;llksdhjflskal\nKdjshfks\nDa'f;lasdlkhfgj\nljsdfk"

In [39]:
with open(alice) as text_version:
#     print(list(enumerate(text_version)))
#     print('_______')
    for i, line in enumerate(text_version):  # iteration over files gives you lines!
        print(i)
        print(line)

0
Gsfjhglay biwricwehvrciwbfnweilksbhjdfkvhdf

1
Dsjfhksdlfj

2
;llksdhjflskal

3
Kdjshfks

4
Da'f;lasdlkhfgj

5
ljsdfk

In [50]:
print(line[0:3:2])

ls

In [52]:
l1 = [1,2,3]
l2 = [2,3,4,]
l1+l2

[1, 2, 3, 2, 3, 4]

In [76]:
def scalar_multiply(scalar, sequence):
    # YOUR CODE HERE
    sequence = list(sequence)
    if sequence == []:
        raise ValueError("Dont give empty lists")
        
    else:
        return [scalar*number for number in sequence]

[4, 6, 8, 10]

In [78]:
def is_even(number):
    return (number % 2) == 0

def evens_first(numbers):
    # YOUR CODE HERE
    even_list = []
    odd_list = []
    for number in numbers: 
        if is_even(number) == True:
            even_list.append(number) 
        else :
            odd_list.append(number)
    return even_list + odd_list

result = evens_first([3, 5, 2, 4, 6, 7])
result

[2, 4, 6, 3, 5, 7]

In [2]:
import re

pattern = "[\d][A-Z]"
assert re.search(pattern, "Problem reported in apartment 3F with plumbing.").group(1) == "3F"

IndexError: no such group

In [1]:
txt = "welcome to the jungle"

x = txt.split()

print(x)

['welcome', 'to', 'the', 'jungle']

In [13]:
# class Board:
#     def __init__(self):
#         # Define a 3x3 empty grid
#         self.squares = [
#             [None for _ in range(3)],
#             [None for _ in range(3)],
#             [None for _ in range(3)],
#         ]
#         # Whose turn is it? O will begin the game
#         self._turn = "O"
        
#     def __repr__(self):
#         return "\n" + "\n".join(
#             "".join("_" if piece is None else piece for piece in row)
#             for row in self.squares
#         ) + "\n"
    
#     def mark_square(self, coordinates):
#         """
#         Mark the square at the given coordinates with the current player's character.
        
#         Then move to the other player's turn.
#         """
#         x, y = coordinates
#         self.squares[x][y] = self._turn
#         if self._turn == "O":
#             self._turn = "X"
#         else:
#             self._turn = "O"
            
squares = [
            [None for _ in range(3)],
            [None for _ in range(3)],
            [None for _ in range(3)],
        ]

print(squares)

print("\n" + "\n".join(
             "".join("_" if piece is None else piece for piece in row)
             for row in squares
         ) + "\n")

[[None, None, None], [None, None, None], [None, None, None]]

___
___
___

In [2]:
var = 'foo'

print(repr(var))
print(var)

'foo'
foo